.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: blanchedalmond;
  text-align: center;
}
.id{
  height:600px;  
  background-image: url("../../assets/images/login.bg.jpg");   
  background-size:cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.id:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(7, 7, 7, 0.7);
}
.centering{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.btn{
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }


  

